<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Test" thread-count="2" parallel="tests">

<listeners>
     <listener class-name ="Reports.ExtentListeners"/>
  </listeners>
	<test name="Test">

		<parameter name="browser" value="chrome" />
		<classes>
			<class name="TestClass.amazon_MiniTv" />
		</classes>

	</test> <!-- Test -->
	

</suite> <!-- Suite -->
